<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
    crossorigin="anonymous"
  />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

    <!-- moved and changed jQuery to the bottom
      in order for Bootstrap jQuery to work!-->


  </head>

  <body>
    <header class='nav'>
      <%- include('./partials/_header', {currentUser: currentUser}) %>
    </header>

    <h1 id="Title"> </h1>

    <div class='button-bar'>

      <button type="button" class="btn btn-light" id='eat'>Eats</button>
      <button type="button" class="btn btn-light" id='shop'>Shop</button>
      <button type="button" class="btn btn-light" id='play'>Play</button>

      <!-- The Modal -->
      <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
          <span class="close">&times;</span>
          <p>Hit "save" below to save your new locations!</p>
        </div>

      </div>
    </div>


    <div id="map">
      <!-- map goes here -->
    </div>

    <% if(currentUser){ %>
      <section class='map-name'>
        <div class='map-name-bar'>
        <form class='submitBox'>
          Title: <input type="text" name="title" class='title-box'>

          <button type="button" class="btn btn-success" id='submit-map'>Submit Map</button>
        </form>

        </div>

    </section>

    <div class='button-bar'>
      <button type="button" class="btn btn-success" id='new_map'>New Map</button>
      <button type="button" class="btn btn-success" id='edit'>Add Marker</button>
      <button type="button" class="btn btn-success" id='favourite'>Favourite</button>
      <button type="button" class="btn btn-success" id='save'>Save</button>
    </div>
    <%}%>
    <script asyncdefer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkZfmqKkpE43LJna1yRLRV7FIrrd874TY&callback"
    ></script>

    <script
    src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
    crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="functions.js"></script>
    <script type="text/javascript" src="mapCreate.js"></script>

  </body>
</html>
