// See: https://sass-lang.com/

$mainColor:#C4AD4A;

$accentColor:#81008F;

.body{
  background-color: $mainColor;
}

.navbar{
  background-color: $mainColor;
  height: 7vh;
}

@media only screen and (max-width: 420px) {
  #map{
    height: 80vh;
  }
}
@media only screen and (min-width: 420px) {
  #map{
    height: 67vh;
    width: 100%;
  }
}

h1{
  background-color: transparent;
  text-align: center
}

.button-bar{
  background-color: $accentColor;
  display: flex;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  padding-top:10px;
  padding-bottom:10px;
  height: 3.5em;
}

.btn-success{
  background-color: transparent;
}

.map-name{
  display: none;
  text-align: center;
}

.info-box{
  width:150px;
}

.desc{
  width: 50%;
  word-wrap: break-word;
}


.desc-img{
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}

h6{
  margin-bottom: 0px !important;
}

.info-title{
  border-bottom: solid;
}

.btn-success{
  background-color: #A09AB3 !important;
}
