// See: https://sass-lang.com/

$mainColor:Grey;

$accentColor:#81008F;

body{
  background-color: $mainColor;
}

.nav {
  background-color: $mainColor;
  width: 100%;
}

.navbar{
  background-color: $mainColor !important;
  height: 7vh;
}

@media only screen and (max-width: 420px) {
  #map{
    height: 80vh;
    width: 100%;
  }
}
@media only screen and (min-width: 420px) {
  #map{
    height: 67vh;
    width: 100%;
  }
}

h1{
  background-color: transparent;
  text-align: center
}

.button-bar{
  background-color: $accentColor;
  padding-top:10px;
  padding-bottom:10px;
  height: 3.5em;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.edit-mode{
  // grid-area: 1 / 3 ;
  float:right;
  position: relative;
}

.btn-success{
  background-color: transparent;
}

.map-name{
  display: none;
  text-align: center;
}

.info-box{
  width:150px;
}

.desc{
  width: 50%;
  word-wrap: break-word;
}


.desc-img{
  display: flex;
  justify-content: space-between;
  padding-top: 4px;
}

h6{
  margin-bottom: 0px !important;
}

.info-title{
  border-bottom: solid;
}

.btn-success{
  background-color: #A09AB3 !important;
}

 /* The Modal (background) */
 .modal {
  display: none;
  position: fixed;
  z-index: 10;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  opacity: 0.9;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
