// See: https://sass-lang.com/

$mainColor:#C4AD4A;

$accentColor:rgb(59, 184, 1);

.body{
  background-color: $mainColor;
}

.navbar{
  background-color: $mainColor;
}

#map{
  height: 500px;
  width: 100%;
}

h1{
  background-color: transparent;
  text-align: center
}

.button-bar{
  background-color: $accentColor;
  display: flex;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
}

.btn-success{
  background-color: transparent;
}
